// Fix billing field wrapper
.woocommerce-input-wrapper {
	width: 100%;
}

// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper {
	max-width: inherit !important;
}

// Fix coupon code input width
@media(min-width: 768px) {
	#coupon_code.input-text {
		width: 150px !important;
	}
}

// theme custom
.woocommerce, .woocommerce-page{
	form{
		.password-input{
			width: 100%;
		}
		.show-password-input{
			top: 0.5em;
		}
		.form-row{
			&.woocommerce-validated{
				input{
					border-color: $lipstick !important;
				}
			}
		}
	}
	.woocommerce-form-login{
		.woocommerce-form-login__rememberme{
			display: block;
			width: 100%;
		}
	}

	&:not(.woocommerce-account){
		.entry-title{
			display: none;
		}
	}
	
	.checkout-nav{
		text-align: center;
		font-size: 1.75rem;
		margin-bottom: 1.5rem;
		a{
			vertical-align: middle;
			color: $black;
			&.active, &.active + .delimeter{
				color: $lipstick;
			}
			&.no-click{
				pointer-events: none;
			}

			@include media-breakpoint-down(sm){
				display: inline-block;
			}
		}
		
		.delimeter{
			vertical-align: middle;
			font-size: 2.5rem;
		}

	}
}

.woocommerce-error, .woocommerce-info, .woocommerce-message{
	background-color: $white;
}