.contact-address{
    font-size: 1.5rem;
}

.contact-info{
    font-size: 1.25rem;
    svg{
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }
    a{
        vertical-align: middle;
        color: $black;
    }
}

div.wpcf7 .ajax-loader{
    float:left;
}

.anr_captcha_field{
    transform: scale(0.8) !important;
    transform-origin: top left !important;
}