#events-list{
    min-height: 52vh;
    .entry-title{
        margin-bottom: 0;
    }
    .venue-selection{
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        align-items: top;
        @include media-breakpoint-down(lg) {
            font-size: 1.5rem;
            flex-direction: column;
        }
        .select-title{
            color: $lipstick;
            padding: 0.375rem 0.75rem;
        }
        .dropdown{
            display: inline-block;
            width: auto;
            flex-grow: 1;
            .btn{
                border-color: transparent;
                font-size: 2rem;
                white-space: normal;
                @include media-breakpoint-down(lg) {
                    font-size: 1.5rem;
                }
                &:focus, &:hover{
                    color: $black;
                }
                .fas{
                    color: $lipstick;
                    -webkit-transition: -webkit-transform .2s ease-in-out;
                    -ms-transition: -ms-transform .2s ease-in-out;
                    transition: transform .2s ease-in-out; 
                }
            }

            &.show{
                .fas{
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                }
            }

            li.dropdown-item{
                white-space: normal;
                @include media-breakpoint-down(lg) {
                    font-size: 1rem;
                    line-height: 1;
                }
                a{
                    display: inline-block;
                    width: auto;
                    position: relative;
                    margin: 1rem 2rem 1rem 3rem;
                    padding: 0 5px;
                    color: $black;
                    white-space: normal;
                    &:before{
                        content: "• ";
                        color: $lipstick;
                        position: absolute;
                        left: -1rem;
                    }
                    &.active, &:hover{
                        text-decoration: line-through;
                        text-decoration-color: $lipstick;
                    }
                }
            }
            
            .dropdown-menu.show{
                @include media-breakpoint-down(lg) {
                    transform: none !important;
                    top: 100% !important;
                    max-height: unset;
                }
                max-height: 90vh;
                max-width: 100vw;
                overflow: auto;
            }

        }
    }

    #events-list-container{
        .event-day-label{
            font-size: 1.5rem;
            padding-left: 0.5rem;
            border-left: 5px solid $lipstick;
        }

        .event-img{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 100%;
            border-radius: 50%;
        }
        .event-name a{
            font-size: 1.25rem;
            color: $lipstick;
            font-weight: bold;
        }
        .event-hour{
            font-size: 1.25rem;
        }
        .event-categories{
            color: $black;
            font-size: 1.25rem;
        }
        .event-guest a{
            color: $black;
        }
        .event-description{
            border-top: 1px solid $lipstick;
        }

        .day-menu{
            font-size: 1.25rem;
        }
    }
}

.tribe-events-single-event-title{
    font-size: 2rem;
    @include media-breakpoint-up(lg) {
        font-size: 5rem;
        text-align: right;
    }
    
}

.tribe-events-start-date{
    text-transform: capitalize;
}

.tribe-events-event-categories{
    color: $lipstick;
}

#tribe-tickets{
    background-color: $very-light-pink;
    max-width: 100%;
    border: 0;
    padding: 0;
    .tribe-tickets__title{
        color: $black;
        font-size: 1.75rem;
    }
    .tribe-tickets__item__quantity__remove, .tribe-tickets__item__quantity__add{
        border: 0;
        &:hover{
            color: $lipstick;
        }
    }
}

.tribe-common{
    *{
        font-family: 'Roboto Condensed' !important;
        font-size: 1rem;
        color: $black;
    }
    button.tribe-tickets__buy{
        @include button-outline-variant($lipstick, $very-light-pink);
        padding: 0.375rem 0.75rem !important;
        border-radius: 0 !important;
        border: 1px solid $lipstick !important;
        margin-left: 1rem;
        font-weight: normal !important;
    }
    .tribe-common-c-loader__dot{
        background-color: $lipstick;
    }
    .tribe-tickets__item__extra__available{
        display: none !important;
    }
}

.tribe-events-ajax-loading{
    display: none !important;
}

@keyframes a {
    50% {
        background-color:$very-light-pink;
    }
}

.related-event{
    font-size: 1.25rem;
    padding-left: 0.5rem;
    border-left: 2px solid $lipstick;
    margin-bottom: 1.25rem;
    .related-event-day{
        color: $lipstick;
    }

    .related-event-name{
        a{
            color: $black;
        }
    }
}

.single-tribe_guest, .single-tribe_menu{
    margin-bottom: 0 !important;
}

.tribe-orders-list{
    padding: 0;
    list-style: none;
    >.tribe-item{
        border-top: 2px solid $lipstick;
        padding: 1rem;
        margin: 1rem 0;
        .user-details{
            font-size: 1.25rem;
        }
        .tribe-tickets-list{
            list-style: none;
            >.tribe-item{
                &:not(:last-child){
                    padding: 0.5rem 0;
                    border-bottom: 1px dotted $black;
                }
            }
            
        }
    }
    
}