#guest-list-container{
    .guest-item{
        margin-bottom: 2.5rem;
        .guest-img{
            width: 140px;
            height: 200px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .guest-name{
            font-size: 1.25rem;
            color: $lipstick;
        }
        .guest-data{
            margin-bottom: 0.25rem;
        }
    }
}

.entry-title-guest-name{
    font-size: 3.75rem;
    color: $lipstick;
    line-height: 1.08;
    margin-bottom: 2.5rem;
    @include media-breakpoint-up(sm) {
        text-align: right;
        font-size: 6.25rem;
    }

    &:first-line{
        color: $black;
    }
}

.col-guest-image{
    @include media-breakpoint-up(sm) {
        padding-right: 45px;
    }
}


.related-guest{
    margin-bottom: 1.25rem;
    .guest-img{
        width: 140px;
        height: 200px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .guest-name{
        font-size: 1.25rem;
        color: $lipstick;
    }
    .guest-data{
        margin-bottom: 0.25rem;
    }
}
