#meb-info-wrapper{
    #meb-info{
        .meb-name, .meb-date, .meb-desc{
            margin: 1.25rem 0;
        }
        font-size: 2.5rem;
        line-height: 1.1;
        letter-spacing: normal;
        .meb-name{
            border-right: 6px solid $black;
            padding-right: 16px;
        }
    }
}

.sponsors{
    .sponsor{
        margin: 1.2rem;
        height: 60px;
        width: auto;
        mix-blend-mode: multiply;
    }
}
.associated-brands{
    .brand{
        margin: 1.5rem 0.5rem;
        height: 60px;
        width: auto;
        mix-blend-mode: multiply;
    }
}