.meb-experience-item {
    padding: 2rem 0;

    .meb-experience-image {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 60%;
    }

    .meb-experience-name {
        color: $lipstick;
        font-size: 1.25rem;
    }

    .meb-experience-date {
        color: $black;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }
}

.meb-experience-title {
    color: $lipstick;
    font-size: 3.75rem;
    line-height: 2.6rem;
}

.meb-experience-inline-date{
    color: $lipstick;
}

.owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 0 !important;

    @include media-breakpoint-up(md) {
        width: 120%;
        left: -10%;
    }

    .owl-prev{
        float: left;
    }

    .owl-next{
        float: right;
    }

    button {
        margin: 0 !important;
        padding: 0 !important;
        width: 32px;
        height: 24px;
        &:hover {
            background-color: transparent !important;
        }

        .gallery-prev-arrow,
        .gallery-next-arrow {
            display: inline-block;
            width: 32px;
            height: 24px;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0 !important;
        }

        .gallery-prev-arrow {
            background-image: escape-svg($prev-arrow);

            &:hover {
                background-image: escape-svg($prev-arrow-hover);
            }
        }

        .gallery-next-arrow {
            background-image: escape-svg($next-arrow);

            &:hover {
                background-image: escape-svg($next-arrow-hover);
            }
        }
    }
}