#menu-list-container{
    .meb-menu-item{
        padding-left: 1rem;
        margin-left: -1rem;
        border-left: 2px solid $lipstick;
        margin-bottom: 1.25rem;
        .meb-menu-name{
            color: $lipstick;
            font-size: 1.25rem;
        }

        .meb-menu-guests{
            .guest{
                line-height: 1.5;
                padding: 0.25rem 0;
                &:not(:last-child){
                    border-bottom: 1px dotted $black;
                }
                a{
                    color: $black;
                }
            }
        }
    }
}

.related-menu{
    font-size: 1.25rem;
    padding-left: 0.5rem;
    border-left: 2px solid $lipstick;
    margin-bottom: 1.25rem;
    .related-menu-name{
        a{
            color: $lipstick;
        }
    }

    .related-menu-venue{
        a{
            color: $black;
        }
    }
}

.related-venue{
    a{
        font-size: 1.25rem;
    }
}

.col-menu-image{
    @include media-breakpoint-up(sm) {
        padding-left: 45px;
    }
}

.menu-video{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    iframe, object, embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}