#colophon{
    font-size: 0.75rem;
    text-align: center;
    
    @include media-breakpoint-up(lg) {
        nav{
            text-align: right;
            margin-right: -5px;
        }

        #copyright{
            text-align: left;
        }
    }
    #site-info-menu, #copyright{
        margin: 0;
        padding: 1rem 0;
    }
}