.meb-loader{
    .wineglass {
        height: 36px;
        position: relative;
    
        &:after {
            content: '';
            position: absolute;
            top: 47px;
            left: 5px;
            width: 20px;
            height: 5px;
            background: $very-light-pink;
            box-shadow: 0 0 1px $very-light-pink;
            border: 2px solid $black;
        }
    }
    
    .top {
        background: $very-light-pink;
        width: 30px;
        height: 36px;
        border-radius: 0 0 36px 36px;
        box-shadow: 0 0 1px $very-light-pink;
        border: 2px solid $black;
    
        &:before {
            content: '';
            position: absolute;
            left: 4px;
            bottom: 4px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: linear-gradient(transparent 50%, $lipstick 50%);
        }
    }
    
    .left .top:before {
        animation: rotate2 2s linear infinite;
    }
    
    .right .top:before {
        animation: rotate1 2s linear infinite;
    }
    
    .top:after {
        content: '';
        position: absolute;
        top: 35px;
        left: 12px;
        width: 6px;
        height: 13px;
        background: $very-light-pink;
        box-shadow: 0 0 1px $very-light-pink;
        border: 2px solid $black;
    }
    
    .left {
        display: inline-block;
        margin-right: 10px;
        animation: rotate1 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
    }
    
    .right {
        display: inline-block;
        animation: rotate2 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
    }
    
    
    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 70px;
        height: 25px;
        position: relative;
        opacity: 0;
        animation: 2s fadeInUp infinite linear;
    }
    
    li {
        width: 6px;
        height: 15px;
        background: $black;
        position: absolute;
        box-shadow: 0 0 1px $black;
        transform-origin: bottom;
    
        &:nth-child(1) {
            left: 26px;
            bottom: 5px;
            transform: rotate(-35deg);
        }
    
        &:nth-child(2) {
            left: 34px;
            bottom: 8px;
        }
    
        &:nth-child(3) {
            left: 42px;
            bottom: 5px;
            transform: rotate(35deg);
        }
    }

    .loading-text{
        margin-top: 20px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: scaleY(1);
    }

    33% {
        opacity: 1;
        transform: scaleY(1.4);
    }

    64% {
        opacity: .1;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform: scaleY(0.3);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(22deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-22deg);
    }
}