#meb-map{
    height: 680px;
}
.gm-style{
    .gm-style-iw-c{
        border-radius: 0;
        padding: 1.25rem;
    }
}
.meb-infowindow{
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    @include media-breakpoint-up(md) {
        min-width: 240px;
    }
    .infowindow-venue{
        color: $lipstick;
        font-size: 1.75rem;
        margin-bottom: 1.25rem;
    }

    .infowindow-day-menus .row{
        border-bottom: 1px solid $lipstick;
        margin-bottom: 1rem;
    }

    .infowindow-events{
        .venue-events-data{
            .venue-event-day{
                font-size: 1.25rem;
                border-left: 2px solid $lipstick;
                padding-left: 0.25rem;
                margin-bottom: 0.5rem;
            }
            .map-event{
                border-bottom: 1px dashed $black;
                padding: 0.25rem 0;
                &:last-child{
                    margin-bottom: 2rem;
                }
                .map-event-name{
                    @include media-breakpoint-up(md) {
                        text-align: right;
                    }
                }
                a{
                    color: $black;
                    text-decoration: underline;
                }
            }
        }
    }

    .infowindow-footer{
        .venue-details, .venue-place{
            text-align: center;
        }
        .venue-details{
            margin-bottom: 1rem;
            a{
                color: $black;
                text-decoration: underline;
            }
            @include media-breakpoint-up(md) {
                text-align: left;
                margin-bottom: 0;;
            }
        }
        .venue-place{
            @include media-breakpoint-up(md) {    
                text-align: right;
            }
        }
    }
}

.location-pulse {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: $lipstick;
	cursor: pointer;
	box-shadow: 0 0 0 rgba($very-light-pink, 0.4);
	border: 4px solid $very-light-pink;
	animation: pulse 1.75s infinite;
}

#my-location-control{
    box-shadow: #000000 0px 1px 4px -1px;
    cursor: pointer;
    margin-bottom: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-color: $very-light-pink;
    &:hover{
        background-color: $lipstick;
    }
	#my-location-control__icon{
		width: 100%;
		height : 100%;
		opacity: 0.7;
        transition: opacity 0.2s;
	}
	&:hover{
		#my-location-control__icon{
			opacity: 1;
		}
	}
	&.active{
		background: $lipstick;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba($lipstick, 1);
	}

	70% {
		box-shadow: 0 0 0 15px rgba($lipstick, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba($lipstick, 0);
	}
}
