#main-nav{
    background-color: $very-light-pink;
    .menu-separator{
        font-size: 0.875rem;
    }
    .navbar-brand{
        margin-right: 0;
        margin-left: 0.5rem;
        img{
            width: 80px;
        }
    }
    
}

#main-menu, #user-menu, #sitemap-menu, #site-info-menu{
    font-family: 'Roboto';
    >li{
        margin: 0;
        >a:not(.btn){
            position: relative;
            color: $black;
            padding: 5px;
            @include media-breakpoint-down(lg){
                padding: 0.5rem 5px;
            }
        }
        .nav-link{
            margin: 0 15px;
        }
        &.active:not(.scroll-to) > a:not(.btn), > a:not(.btn):hover{
            text-decoration: none;
            &:after{
                content: '';
                display: block;
                outline: solid 1px $lipstick;
                position: absolute;
                width: 100%;
                left: 50%;
                top: 58%;
                transform: translate(-50%, -58%);
            }
        }
    }
}

#main-menu, #sitemap-menu{
    font-size: 0.875rem;
}

#main-menu{
    @include media-breakpoint-up(lg) {
        margin-left: -20px;
        >li{
            position: relative;
            &:not(:last-child){
                &:after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 30%;
                    width: 1px;
                    height: 40%;
                    background-color: $black;
                }
            }
        }
    }
    .dropdown-menu{
        @include media-breakpoint-up(xl) {
            background-color: #e7e0d4;
            border-left: 0;
            margin-left: 0;
        }
        @include media-breakpoint-down(lg) {
            display: block !important
        }
        background-color: $very-light-pink;
        font-size: 1rem;
        padding: 0.5rem !important;
        margin-left: 2rem;
        border-left: 1px solid $black;
        .dropdown-item{
            position: relative;
            padding: 0.5rem 0;
            &:hover{
                color: $lipstick;
            }
            &:before{
                content: "• ";
                color: $lipstick;
            }
        }
        .menu-item.active{
            a{
                color: $lipstick;
            }
        }
    }
}

#social-menu{
    flex-direction: row;
    .social-item a{
        color: $lipstick;
        padding: 10px 5px;
        margin: 0 8px;
        font-size: 1rem;
        @include transition($btn-transition);
        &:hover{
            color: darken($lipstick, 10);
        }
    }
}

#user-menu{
    flex-direction: row;
    .user-item a.btn{
        padding: 4px 8px;
        margin: 0 1px;
        &:hover{
            color: $very-light-pink;
        }
    }
}

.footer-sitemap{
    padding: 2rem 0;
    border-top: 1px solid #d7c9b1;
    .sitemap-title{
        margin: 20px 0;
        font-size: 0.875rem;
        font-family: 'Roboto';
        font-weight: 500;
    }
    #footer-sitemap-menu{
        display: inline-block;
        #sitemap-menu{
            margin: 0;
        }
    }
}

.meb-cart{
    font-size: 1.5rem;
    margin: 0 1rem;
    position: relative;
    i{
        color: $lipstick;
    }
    .meb-cart-quantity{
        display: inline-block;
        font-size: 0.7rem;
        width: 1.3rem;
        height: 1.3rem;
        line-height: 1.3rem;
        font-weight: bold;
        text-align: center;
        border-radius: 50%;
        border: 1px solid $lipstick;
        position: absolute;
        left: 20px;
        bottom: 20px;
        background: $very-light-pink;
        color: $black;
    }
    a:hover{
        color: darken($lipstick, 10);
    }
}