@include media-breakpoint-down(lg) {
  .offcanvas-collapse {
    position: fixed;
    top: 100px;
    /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $very-light-pink;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: $zindex-fixed;
    &.open {
      visibility: visible;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    .nav-link{
      display: inline-block;
    }
  }
}