// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// /**components**/
@import
  'components/navigation',
  'components/map',
  'components/loader',
  'components/footer';

// /**pages**/
@import
  'pages/home',
  'pages/menus',
  'pages/guests',
  'pages/meb-experience',
  'pages/contact',
  'pages/events';

*{
  outline: 0;
}

body{
  font-family: 'Roboto';
}

.wrapper{
  font-family: 'Roboto Condensed';
  .entry-title, .page-title{
    font-size: 3.75rem;
    line-height: 1.07;
    color: $lipstick;
    border-left: 5px solid $black;
    padding-left: 30px;
    margin-bottom: 2.5rem;
    margin-left: -35px;
  }
  .entry-subtitle{
    font-size: 2rem;
    &:before{
      content: '— ';
      position: absolute;
      color: $lipstick;
      left: -1rem;
    }
  }
}

.strong-text{
  color: $lipstick;
  font-size: 1.5rem;
}


.btn:not(:disabled):not(.disabled){
  color: $black;
  &:hover{
    color: $very-light-pink;
  }
}

.select2-container--default{
  .select2-selection--single{
    border: 1px solid $lipstick;
    border-radius: 0;
    background-color: $very-light-pink;
    height: auto;
    padding: 0.375rem 0;
    .select2-selection__arrow{
      top: 0.5rem;
    }
  }

}

.post-navigation{
  margin-bottom: 1rem;
  .prev-container, .next-container{
    width: 49%;
    display: inline-block;
  }
  .next-container{
    text-align: right;
  }
  .next-arrow, .prev-arrow{
    display: inline-block;
    width: 32px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .prev-arrow{
    background-image: escape-svg($prev-arrow);
    &:hover{
      background-image: escape-svg($prev-arrow-hover);
    }
  }
  .next-arrow{
    background-image: escape-svg($next-arrow);
    &:hover{
      background-image: escape-svg($next-arrow-hover);
    }
  }
}

.back-navigation{
  margin-bottom: 1rem;
  a{
    color: $black;
    font-size: 1.25rem;
    position: relative;
    vertical-align: middle;
    .back-arrow{
      display: inline-block;
      width: 32px;
      height: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: escape-svg($prev-arrow);
      vertical-align: middle;
      @include media-breakpoint-up(sm) {
        position: absolute;
        left: -3rem;
        bottom: 0;
        top: 0;
      }
    }
    &:hover{
      color: $lipstick;
      text-decoration: none;
      .back-arrow{
        background-image: escape-svg($prev-arrow-hover);
      }
    }
  }
}