// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// $primary: #5533ff; // Thats a sample how you could change a BootStrap variable.

$very-light-pink: #fff9ee;
$black: #3a3a3a;
$lipstick: #cf1143;
$primary: $lipstick;
$secondary: $very-light-pink;
$colors:(
  'very-light-pink': $very-light-pink,
  'lipstick': $lipstick,
);

$enable-rounded: false;

$body-bg: $very-light-pink;
$body-color: $black;

$navbar-nav-link-padding-x: 5px;
$navbar-nav-link-padding-y: 5px;
$navbar-light-color: $black;
$navbar-light-hover-color: $black;

$paragraph-margin-bottom: 1.5rem;

$component-active-bg: $lipstick;
$component-active-color: $black;
$input-bg: $very-light-pink;
$input-border-color: $lipstick;
$custom-control-indicator-checked-color: $very-light-pink;

$enable-caret: false;
$dropdown-font-size: 2rem;
$dropdown-border-color: transparent;
$dropdown-link-color: $black;
$dropdown-link-hover-color: $black;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-color: $black;
$dropdown-link-active-bg: transparent;
$dropdown-item-padding-y: 0;
$dropdown-item-padding-x: 0;

$prev-arrow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'><g ><g ><g ><path stroke='#CFCFCF' stroke-width='2' fill-rule='evenodd' class='shp0' d='M31 12L3 12M10 20L2 12M10 4L2 12' /></g></g></g></svg>");
$prev-arrow-hover: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'><g ><g ><g ><path stroke='#{$lipstick}' stroke-width='2' fill-rule='evenodd' class='shp0' d='M31 12L3 12M10 20L2 12M10 4L2 12' /></g></g></g></svg>");
$next-arrow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'><g ><g ><g ><path stroke='#CFCFCF' stroke-width='2' fill-rule='evenodd' class='shp0' d='M1 12L29 12M22 4L30 12M22 20L30 12' /></g></g></g></svg>");
$next-arrow-hover: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 24' width='32' height='24'><g ><g ><g ><path stroke='#{$lipstick}' stroke-width='2' fill-rule='evenodd' class='shp0' d='M1 12L29 12M22 4L30 12M22 20L30 12' /></g></g></g></svg>");

$carousel-control-color: $lipstick;
$carousel-control-width: 5%;